[access]
	inheritFrom = Private-Projects
[submit]
[project]
	description = Spin up gerrit environment for testing migrations
[access "refs/*"]
	owner = group user/ALVARO VILAPLANA GARCIA (avilaplana)
	owner = group user/Antonio Barone (syntonyze)
	owner = group user/David Ostrovsky (davido)
	owner = group user/Fabio Ponciroli (barbasa)
	owner = group user/JC (geminicaprograms)
	owner = group user/Luca Milanesio (lucamilanesio)
	owner = group user/Marcin Czech (maczech)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Antonio Barone (syntonyze)
	label-Verified = -1..+1 group user/Antonio Barone (syntonyze)
	push = group user/ALVARO VILAPLANA GARCIA (avilaplana)
	push = group user/Antonio Barone (syntonyze)
	read = group user/Antonio Barone (syntonyze)
	rebase = group user/Antonio Barone (syntonyze)
	removeReviewer = group user/Antonio Barone (syntonyze)
	submit = group user/Antonio Barone (syntonyze)
[access "refs/heads/*"]
	create = group user/Antonio Barone (syntonyze)
	push = +force group user/Antonio Barone (syntonyze)
	pushMerge = group user/Antonio Barone (syntonyze)
	read = group user/ALVARO VILAPLANA GARCIA (avilaplana)
	read = group user/Antonio Barone (syntonyze)
[access "refs/tags/*"]
	push = group user/Antonio Barone (syntonyze)
	push = +force group user/Antonio Barone (syntonyze)
