[remote "replica-1"]
    url = http://gerrit2:8080/${name}.git
    apiUrl = http://gerrit2:8080
    fetch = +refs/*:refs/*
    mirror = true
    timeout = 60
    rescheduleDelay = 15
    replicationDelay = 1
    replicationRetry = 0
    threads = 4
    createMissingRepositories = true
    replicateProjectDeletions = true
    replicateHiddenProjects = true
[gerrit]
    autoReload = true
    replicateOnStartup = false
[replication]
    lockErrorMaxRetries = 5
    maxRetries = 5
    useCGitClient = false
    consumeStreamEvents = false
    syncRefs = ALL REFS ASYNC
    maxApiPayloadSize = 40000
