[gerrit]
    autoReload = true
    replicateOnStartup = true
[replication]
    lockErrorMaxRetries = 5
    maxRetries = 100
    useCGitClient = false
    consumeStreamEvents = false
    syncRefs = ALL REFS ASYNC
    maxApiPayloadSize = 40000
[remote "primary"]
    url = http://gerrit1:8080/${name}.git
    apiUrl = http://gerrit1:8080
    fetch = +refs/*:refs/*
    mirror = true
    timeout = 60
    rescheduleDelay = 15
    replicationDelay = 1
    replicationRetry = 0
    threads = 4
    createMissingRepositories = true
    replicateProjectDeletions = true
    replicateHiddenProjects = true
